.carousel {
    background-color: grey;
    margin: 1rem;
    padding: 0.5rem;
    display: flex;
    overflow: scroll;
}
.btnTitle {
    background-color: #f4ca5c;
    padding: 0.5rem 1rem;
    font-family: 'indie';
    font-size: 1.5rem;
    border-radius: 25%;
}
.btnMore {
    border:none;
    background-color: transparent;
}